.form-row > .form-group {
    margin: 10px;
}

.form-row > .form-group-left {
    margin-left: auto;
}

.form-row > .form-group-right {
    margin-right: auto;
}

.main-row {
    text-align: center;
}

#chart-div {
    width: 100%;
    text-align: center;
}

.chart-div-visible {
    display: block;
}

.chart-div-invisible {
    display: none;
}

.range-div {
    margin-left: 32px;
    margin-right: 32px;
}

#range-slider {
    width: 100%;
}

#selected-ships-list > li > img {
    margin-bottom: 12px;
    margin-right: 4px;
}

#selected-ships-list > li > button {
    margin-bottom: 4px;
    margin-left: 4px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#info-table th {
    text-align: center;
}